__pycache__/
.ipynb_checkpoints/
*.parquet
*.csv
!outputs/predictions/*.csv
!outputs/metrics/*.csv
!archive/*.csv
*.zip
*.joblib
*.pkl
venv/
data/raw/
data/omni/
data/datasets/
models/pretrained/xgb_goes_physics.jsonGEOShield_RealData_2010_2020/
